.container {
  padding: 20px;
  text-align: center;
}

.welcome {
  margin-bottom: 20px;
  font-size: 2rem;
}

.pautaList {
  margin-top: 20px;
}

.ul {
  list-style-type: none;
  padding: 0;
}

.pautaItem {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px auto;
  max-width: 600px;
  text-align: left;
  flex-direction: column;
}

.votingButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.btn, .btnNao {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn {
  background-color: #28a745;
  color: white;
}

.btnNao {
  background-color: #dc3545;
  color: white;
}

.btn:disabled, .btnNao:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.error {
  color: #ff4c4c;
  margin-top: 10px;
}

.noPauta {
  color: #555;
}

/* Modal */
.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal.hidden {
  opacity: 0;
  visibility: hidden;
}

.modalContent {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 80%;
  text-align: center;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 48px; /* Aumenta o tamanho do "X" */
  cursor: pointer;
  color: white;  /* Altere para branco para maior contraste */
  z-index: 1100; /* Garante que o botão "X" fique acima de outros elementos */
}

.p {
  text-align: justify;
  font-size: 1.2rem;
}
